<a href="https://colab.research.google.com/github/muhammadahsan2023/CA_2/blob/main/Forecasting_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy as sp
import scipy.stats
from statsmodels.tsa.arima.model import ARIMA
import math

## Mounting Google Drive in a Google Colab notebook

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Reading Excel file using Pandas from a specific path from Google Drive

In [3]:
df0 = pd.read_excel('/content/drive/MyDrive/Data/online_retail_II.xlsx')

In [4]:
#Second data was on sheet 1
df1 = pd.read_excel('/content/drive/MyDrive/Data/online_retail_II.xlsx', sheet_name=1)

In [5]:
#Concatenating two DataFrames
retail_data = pd.concat([df0, df1], ignore_index=True)

In [6]:
df=retail_data

In [7]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [8]:
df.tail()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  datetime64[ns]
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 65.1+ MB

In [10]:
df.describe()

           Quantity         Price    Customer ID
count  1.067371e+06  1.067371e+06  824364.000000
mean   9.938898e+00  4.649388e+00   15324.638504
std    1.727058e+02  1.235531e+02    1697.464450
min   -8.099500e+04 -5.359436e+04   12346.000000
25%    1.000000e+00  1.250000e+00   13975.000000
50%    3.000000e+00  2.100000e+00   15255.000000
75%    1.000000e+01  4.150000e+00   16797.000000
max    8.099500e+04  3.897000e+04   18287.000000

In [11]:
df.shape

(1067371, 8)

In [12]:
df.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [13]:
for i in df.columns:
  print(i," ",df[i].unique())

Invoice   [489434 489435 489436 ... 581585 581586 581587]
StockCode   [85048 '79323P' '79323W' ... 23609 23617 23843]
Description   ['15CM CHRISTMAS GLASS BALL 20 LIGHTS' 'PINK CHERRY LIGHTS'
 ' WHITE CHERRY LIGHTS' ... 'mixed up'
 'CREAM HANGING HEART T-LIGHT HOLDER' 'PAPER CRAFT , LITTLE BIRDIE']
Quantity   [    12     48     24 ...    698  80995 -80995]
InvoiceDate   ['2009-12-01T07:45:00.000000000' '2009-12-01T07:46:00.000000000'
 '2009-12-01T09:06:00.000000000' ... '2011-12-09T12:31:00.000000000'
 '2011-12-09T12:49:00.000000000' '2011-12-09T12:50:00.000000000']
Price   [   6.95    6.75    2.1  ...  933.17 1714.17  224.69]
Customer ID   [13085. 13078. 15362. ... 15520. 13298. 12713.]
Country   ['United Kingdom' 'France' 'USA' 'Belgium' 'Australia' 'EIRE' 'Germany'
 'Portugal' 'Japan' 'Denmark' 'Nigeria' 'Netherlands' 'Poland' 'Spain'
 'Channel Islands' 'Italy' 'Cyprus' 'Greece' 'Norway' 'Austria' 'Sweden'
 'United Arab Emirates' 'Finland' 'Switzerland' 'Unspecified' 'Malta'
 'Bahrain' 'RSA' 'Bermuda' 'Hong Kong' 'Singapore' 'Thailand' 'Israel'
 'Lithuania' 'West Indies' 'Lebanon' 'Korea' 'Brazil' 'Canada' 'Iceland'
 'Saudi Arabia' 'Czech Republic' 'European Community']

In [14]:
uniq_products = df['Description'].unique()

In [15]:
df['Description'].nunique()

5698

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  datetime64[ns]
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 65.1+ MB

In [17]:
df.iloc[50000:50050]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
50000,494012,21780,MA CAMPAGNE 4 DRAWER WALL SHELF,7,2010-01-11 09:31:00,11.26,NaN,United Kingdom
50001,494012,21846,PINK DIAMANTE PEN IN GIFT BOX,3,2010-01-11 09:31:00,2.57,NaN,United Kingdom
50002,494012,21847,GREEN DIAMANTE PEN IN GIFT BOX,3,2010-01-11 09:31:00,2.57,NaN,United Kingdom
50003,494012,21849,SILVER DIAMANTE PEN IN GIFT BOX,1,2010-01-11 09:31:00,2.57,NaN,United Kingdom
50004,494012,21850,BLUE DIAMANTE PEN IN GIFT BOX,1,2010-01-11 09:31:00,2.57,NaN,United Kingdom
50005,494012,21851,LILAC DIAMANTE PEN IN GIFT BOX,4,2010-01-11 09:31:00,2.57,NaN,United Kingdom
50006,494012,21864,UNION JACK FLAG PASSPORT COVER,2,2010-01-11 09:31:00,4.30,NaN,United Kingdom
50007,494012,21865,PINK UNION JACK PASSPORT COVER,2,2010-01-11 09:31:00,4.30,NaN,United Kingdom
50008,494012,21866,UNION JACK FLAG LUGGAGE TAG,2,2010-01-11 09:31:00,2.57,NaN,United Kingdom
50009,494012,21867,PINK UNION JACK LUGGAGE TAG,2,2010-01-11 09:31:00,2.57,NaN,United Kingdom
50010,494012,21880,RED AND WHITE SPOT TAPE,1,2010-01-11 09:31:00,1.70,NaN,United Kingdom
50011,494012,21905,MORE BUTTER METAL SIGN,1,2010-01-11 09:31:00,1.70,NaN,United Kingdom
50012,494012,21942,SKULLS DESIGN FLANNEL,3,2010-01-11 09:31:00,0.87,NaN,United Kingdom
50013,494013,21576,LETS GO SHOPPING COTTON TOTE BAG,1,2010-01-11 09:32:00,2.57,NaN,United Kingdom
50014,494013,21577,SAVE THE PLANET COTTON TOTE BAG,2,2010-01-11 09:32:00,2.57,NaN,United Kingdom
50015,494013,21661,VINTAGE GLASS TEA CADDY,1,2010-01-11 09:32:00,12.13,NaN,United Kingdom
50016,494013,21780,MA CAMPAGNE 4 DRAWER WALL SHELF,1,2010-01-11 09:32:00,11.26,NaN,United Kingdom
50017,494013,21846,PINK DIAMANTE PEN IN GIFT BOX,2,2010-01-11 09:32:00,2.57,NaN,United Kingdom
50018,494013,21847,GREEN DIAMANTE PEN IN GIFT BOX,1,2010-01-11 09:32:00,2.57,NaN,United Kingdom
50019,494013,21850,BLUE DIAMANTE PEN IN GIFT BOX,1,2010-01-11 09:32:00,2.57,NaN,United Kingdom
50020,494013,21851,LILAC DIAMANTE PEN IN GIFT BOX,2,2010-01-11 09:32:00,2.57,NaN,United Kingdom
50021,494013,20615,BLUE SPOTTY PASSPORT COVER,6,2010-01-11 09:32:00,1.70,NaN,United Kingdom
50022,494013,20619,TROPICAL PASSPORT COVER,3,2010-01-11 09:32:00,1.70,NaN,United Kingdom
50023,494013,20652,BLUE SPOTTY LUGGAGE TAG,9,2010-01-11 09:32:00,0.87,NaN,United Kingdom
50024,494013,20657,TROPICAL LUGGAGE TAG,3,2010-01-11 09:32:00,0.87,NaN,United Kingdom
50025,494013,20689,RETRO SISTERS EXPRESSO CUPS,1,2010-01-11 09:32:00,5.17,NaN,United Kingdom
50026,494013,20695,FLORAL BLUE MONSTER,1,2010-01-11 09:32:00,3.43,NaN,United Kingdom
50027,494013,20714,POSY SHOPPER BAG,4,2010-01-11 09:32:00,0.87,NaN,United Kingdom
50028,494013,20729,RED SPOTTY CANDY BAG,9,2010-01-11 09:32:00,0.87,NaN,United Kingdom
50029,494013,20730,STRAWBERRY CANDY BAG,6,2010-01-11 09:32:00,0.87,NaN,United Kingdom
50030,494013,20748,KENSINGTON COFFEE SET,3,2010-01-11 09:32:00,8.65,NaN,United Kingdom
50031,494013,20776,ABSTRACT CIRCLES NOTEBOOK,1,2010-01-11 09:32:00,1.70,NaN,United Kingdom
50032,494013,20780,BLACK EAR MUFF HEADPHONES,1,2010-01-11 09:32:00,4.30,NaN,United Kingdom
50033,494013,21043,APRON MODERN VINTAGE COTTON,1,2010-01-11 09:32:00,6.04,NaN,United Kingdom
50034,494013,21212,PACK OF 72 RETRO SPOT CAKE CASES,2,2010-01-11 09:32:00,1.30,NaN,United Kingdom
50035,494013,21232,STRAWBERRY CERAMIC TRINKET BOX,1,2010-01-11 09:32:00,2.57,NaN,United Kingdom
50036,494013,21293,MIRRORED DOVE WALL DECORATION,1,2010-01-11 09:32:00,3.43,NaN,United Kingdom
50037,494013,21975,PACK OF 60 DINOSAUR CAKE CASES,1,2010-01-11 09:32:00,1.30,NaN,United Kingdom
50038,494013,22196,SMALL HEART MEASURING SPOONS,1,2010-01-11 09:32:00,1.70,NaN,United Kingdom
50039,494013,22227,"DECORATION, HANGING HEART+MIRROR",1,2010-01-11 09:32:00,1.30,NaN,United Kingdom
50040,494013,22244,"HOOK, 3 HANGER ,MAGIC GARDEN",1,2010-01-11 09:32:00,4.30,NaN,United Kingdom
50041,494013,22301,COFFEE MUG CAT + BIRD DESIGN,1,2010-01-11 09:32:00,5.17,NaN,United Kingdom
50042,494013,22350,CAT BOWL,1,2010-01-11 09:32:00,5.17,NaN,United Kingdom
50043,494013,46775A,BUBBLE GUM CHUNKY KNITTED THROW,2,2010-01-11 09:32:00,11.26,NaN,United Kingdom
50044,494013,46775D,SUNSET COLOUR CHUNKY KNITTED THROW,1,2010-01-11 09:32:00,11.26,NaN,United Kingdom
50045,494013,46776A,WOVEN BUBBLE GUM CUSHION COVER,2,2010-01-11 09:32:00,4.30,NaN,United Kingdom
50046,494013,48111,DOOR MAT 3 SMILEY CATS,1,2010-01-11 09:32:00,13.87,NaN,United Kingdom
50047,494013,70006,LOVE HEART POCKET WARMER,1,2010-01-11 09:32:00,1.70,NaN,United Kingdom
50048,494013,70007,HI TEC ALPINE HAND WARMER,1,2010-01-11 09:32:00,1.70,NaN,United Kingdom
50049,494013,82567,"AIRLINE LOUNGE,METAL SIGN",2,2010-01-11 09:32:00,1.70,NaN,United Kingdom

In [18]:
# let clean the string of the description to understand the names of the products easily
df['Description'] = df['Description'].str.replace('.','').str.upper().str.strip()
df['Description'] = df['Description'].replace('\s+',' ',regex=True)

<ipython-input-18-2f90e322d077>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Description'] = df['Description'].str.replace('.','').str.upper().str.strip()

In [19]:
df['StockCode'].nunique()

5305

In [26]:
Stock = df['StockCode'].unique()
Stock

array(['nan', '79323P', '79323W', ..., '35592T', '79157V', '35600A'],
      dtype=object)

In [27]:
# Converting 'StockCode' column to uppercase and then to string type
df['StockCode'] = df['StockCode'].str.upper()
df['StockCode'] = df['StockCode'].astype(str)

In [22]:
df['StockCode'].isna().sum()

0

In [28]:
Stock.sort()

In [29]:
# finding the unusual StockCodes
Stock.sort()
unusual_codes = Stock[::-1][:]

print(' total unusual / Irrelevant stock codes are : ', len(unusual_codes))
print('Irrelevant stock codes: \n', unusual_codes)

 total unusual / Irrelevant stock codes are :  1543
Irrelevant stock codes:
 ['nan' 'TEST002' 'TEST001' ... '10123G' '10123C' '10002R']

In [30]:
# Check if each StockCode contains at least one digit

CodeTypes = [any(char.isdigit() for char in code) for code in df['StockCode']]

In [40]:
if "False" in CodeTypes:
  print('there are irrevlevent stock codes')
else:
  print('there are no irrevlevent values')

there are no irrevlevent values

In [43]:
# Find the indices of StockCodes that contain only strings
Irrelevantstockindices = [i for i, v in enumerate(CodeTypes) if v == False]

In [44]:
len(Irrelevantstockindices)

937964

In [45]:
# REMOVING ROWS WITH IRRELEVANT STOCKCODES
df.drop(Irrelevantstockindices, inplace=True)

In [46]:
df.shape

(129407, 8)

In [47]:
# removing outlier from Price and Quantity column by using z-score method
data = df[(np.abs(sp.stats.zscore(df['Price'])) < 3) & (np.abs(sp.stats.zscore(df['Quantity'])) < 5)]

 **Data Cleaning**

In [54]:
filt = (data.Invoice.str.contains('C') == True)
data['Invoice'][filt]

179        C489449
185        C489449
196        C489459
197        C489459
198        C489459
            ...
1062374    C581228
1062377    C581229
1062379    C581229
1063076    C581330
1064027    C581409
Name: Invoice, Length: 2178, dtype: object

In [56]:
unique_invoices = data['Invoice'].unique()

In [ ]:
for item in unique_invoices:
  print(item)

In [63]:
# Drop rows where Invoice number contains 'C'
data.drop(data[(data.Invoice.str.contains('C') == True)].index, inplace=True)

<ipython-input-63-1a4c42335336>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[(data.Invoice.str.contains('C') == True)].index, inplace=True)

In [64]:
data.shape

(125814, 8)